doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="theme-color" content="#343a40")

    link(rel='icon', href='/favicon.ico')
    link(rel="manifest", href="/manifest.json")

    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')

    link(rel='stylesheet' href='/login.css')

    script(src="/socket.io/socket.io.js")
    script.
      var socket=io();

    title NIU Login
    
  body.bg-dark.text-light.text-center
    form.form-signin(action="/login" method="post")
      img.mb-4(src='/app_icon.png' alt='' width='96' height='96')
      h1.h3.mb-3.font-weight-normal Login to NIU Cloud
      label.sr-only(for='inputEmail') Email address
      input#inputEmail.form-control(type='email' placeholder='Email address' name='username' required='' autofocus='')
      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(type='password' placeholder='Password' name='password' required='')
      .checkbox.mb-3
      button.btn.btn-lg.btn-danger.btn-block(type='submit') Sign in

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')